<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="Appveyor-HydrantWiki" value="https://ci.appveyor.com/nuget/hwdatalibrary-rau3k08whm5c" />
    <add key="Appveyor-TreeGecko" value="https://ci.appveyor.com/nuget/libraries-fcn5t1ynwwh0" />
  </packageSources>
  </configuration>