<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.55.0" targetFramework="net45" />
  <package id="HydrantWiki.DataLibrary" version="1.0.23" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.11.0" targetFramework="net45" />
  <package id="Nancy" version="1.4.3" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="TreeGeckoLibraries.AWS" version="1.0.45" targetFramework="net45" />
  <package id="TreeGeckoLibraries.Common" version="1.0.45" targetFramework="net45" />
  <package id="TreeGeckoLibraries.Geospatial" version="1.0.45" targetFramework="net45" />
  <package id="TreeGeckoLibraries.Loggly" version="1.0.45" targetFramework="net45" />
  <package id="TreeGeckoLibraries.Mongo" version="1.0.45" targetFramework="net45" />
  <package id="TreeGeckoLibraries.Net" version="1.0.45" targetFramework="net45" />
</packages>